@model Product

@{
    ViewBag.Title = "Edit";
    
}

<h2>Edit</h2>

@if (User.Identity.IsAuthenticated)
{
    <div>
        @ViewBag.any
    </div>
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.ProductId)
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
