@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>
    @{
        var data = Model.ToArray();
    }

@for (int i = 0; i < data.Length; i++)
{
    var item = data[i];
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.EditorFor(modelItem => data[i].Stock)
        </td>
        <td>
            @Html.HiddenFor(modelItem => data[i].ProductId)

            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

    <tr>
        <th>
        </th>
        <th>
        </th>
        <th>
            <button type="submit">批次更新</button>
        </th>
        <th></th>
    </tr>
</table>

    
}