@model IEnumerable<MVC5Course.Models.Client>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="float: right">
@using (Html.BeginForm("Index", "Clients", FormMethod.Get))
{
    @Html.DropDownList("GenderFilter")
    @Html.TextBox("keyword", null, new { placeholder = "搜尋關鍵字" })
    <button type="submit">搜尋</button>
}
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Longitude)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Latitude)
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item, "GoogleMapsLink")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>

@{
    var data = Model as IPagedList;
}

@Html.PagedListPager(data, 
    (pageNo) => Url.Action("Index", new { p = pageNo, GenderFilter = Html.Value("GenderFilter"), keyword = Html.Value("keyword")}))